table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightgrey;
}

td {
    border-style: groove;
    padding: 5px;
    width: 18px;
    height: 18px;
    text-align: center;
}

td:hover {
    background-color: darkslategray;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: purple;
}

.five {
    color: black;
}

.six {
    color: maroon;
}

.seven {
    color: gray;
}

.eight {
    color: turquoise;
}

.bomb {
    background-color: red;
}

.invisible {
    background-color: lightgray;
}